{% extends 'baseModerna.html.twig' %}

{% block title %}Client Works{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-12">
                        <h1>WORKS</h1>
                    </div>
                </div>
                <div class="row">
                    {% for work in works %}
                        <div class="col-md-4">
                            {% include 'WorkClient/work_card.html.twig' with {'work': work} %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
